extends layout

block content
  div(id="header")
    h1= title
    p Welcome to #{title}

  
  div.button-container  
    a(href="/new") 
       button.button  Add Message 

  div.content
   each message in messages
     div(class="container")
      h2= message.text 
      p= message.user 
      p= message.added
      
  